@use "./mixins";

.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.btn {
  padding: 5px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.2s opacity;
  &:hover {
    opacity: 0.8;
    transform: translateY(2px);
  }
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--secondary);
  opacity: 1;
  font-weight: 600;
}

.submit-btn {
  width: 100%;
  background-color: var(--secondary);
  border-radius: 4px;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  @include mixins.xs {
    padding: 5px;
    font-size: 14px;
  }
}

.card {
  border-radius: var(--border-radius);
}
.text-primary {
  color: var(--primary);
}
.text-white {
  color: white;
}
.text-error {
  color: var(--danger-1);
}
label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(78, 78, 78);
}
input {
  padding: 5px 8px;
  border: 2px solid var(--gray-2);
}

.form-error {
  margin: 0px;
  padding-top: 10px;
  color: var(--danger-1);
  font-weight: 500;
  font-size: 14px;
  height: 1rem;
}
.form-mixed-error {
  color: var(--danger-1);
  font-weight: 500;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
.full-screen {
  height: 100vh;
  width: 100%;
}
.formIpSec {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  @include mixins.md-lt {
    margin: 10px 0;
    width: 100%;
  }
}
.formIpSec input {
  padding: 12px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: var(--border-radius);
  @include mixins.xs {
    padding: 8px;
    font-size: 12px;
  }
}
.calc {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.btn {
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;

  &:hover {
    opacity: 0.8;
  }
}
.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
}
@media screen and (min-width: 600px) {
  input {
    padding: 10px 15px;
  }
}
