.homePageContainer {
  max-width: 1600px;
  margin: auto;
  overflow: hidden;
}

.bannerContainer {
  margin-bottom: 40px;
}
.banners {
  height: 26vw;
}

.banners img {
  width: 100%;
  height: 100%;
}

.homeProductSlider {
  padding: 20px;
  background-color: rgb(235, 235, 235);
}

.slides .slickPrev,
.slides .slickNext {
  top: 50%;
}
.secTitle {
  margin-bottom: 80px;
  margin-left: 26px;
}
.slickNext {
  margin-right: 5%;
}
