@use "../../assets/styles/themes";
@use "../../assets/styles/mixins" as mixins;

.shippingFormContainer {
  margin: auto;
  width: 900px;
  @include mixins.md-lt {
    transform: translateY(2%);
    width: auto;
  }
}
.userShippingAddress {
  padding: 40px;
  border: solid 2px grey;
  border-radius: 4px;
  background-color: var(--primary);
  width: auto;

  & > p {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}
.usershippingKey {
  color: var(--secondary);
  font-weight: 600;
}
.userShippingValue {
  color: #fff;
  font-weight: 600;
}

.shippingForm {
  padding: 40px;
  border: solid 2px grey;
  border-radius: 4px;
  background-color: var(--primary);
  width: auto;

  @include mixins.md-lt {
    padding: 20px;

    > h2 {
      font-size: 18px;
      text-align: center;
    }
  }
  @include mixins.xs {
    width: auto;
  }
}
.shippingFormLabel {
  color: var(--secondary);
  font-size: 18px;
}

.formIpSecContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include mixins.md-lt {
    padding: 0 20px;
    gap: 10px;
    justify-content: space-between;
  }

  @include mixins.xs {
    justify-content: center;
  }
}
.shippingAddressInput {
  &::placeholder {
    font-size: 14px;
  }
}

.shippingBtnContainer {
  display: flex;
  justify-content: center;
}
.shippingBtn {
  background-color: #f0c040;
  border-radius: 4px;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 30px 10px 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  @include mixins.xs {
    padding: 5px;
    font-size: 14px;
  }
}
