@use "../../assets/styles/mixins" as mixins;

.ratingContainer {
  display: flex;
  @include mixins.md-lt {
    flex-direction: column;
  }
}

.rating {
  display: flex;
  align-items: center;
}

.rating > .MuiSvgIcon-root {
  font-size: 22px !important;
  color: rgb(255, 166, 0);
}

.ratingContainer span {
  margin-left: 14px !important;
  font-size: 18px !important;
  color: grey;
  font-weight: 400 !important;

  @include mixins.md-lt {
    margin: 10px 0 !important;
  }
}
