@use "../../assets/styles/mixins" as mixins;

.homeProductContainer {
  max-width: 1600px;
  margin: auto;
  background-color: rgb(235, 235, 235);
  padding: 20px;
  @include mixins.sm-lt {
    margin-top: 30px;
  }
}

.productContainer {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;

  @include mixins.sm-lt {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
  @include mixins.xs-lt {
    margin: 60px auto;
    grid-template-columns: repeat(3, 1fr);
  }
  @include mixins.xl {
    margin: 80px 26px;
    grid-template-columns: repeat(5, 1fr);
  }
}

.secTitle {
  margin: 26px;
  color: rgb(88, 88, 88);
  @include mixins.sm-lt {
    margin: 20px 0;
  }
}

.secTitle span {
  text-transform: capitalize;
}
