@use "@/assets/styles/mixins" as mixins;

.homeProductContainer {
  background-color: rgb(235, 235, 235);
  padding: 20px;
  margin-bottom: 30px;

  @include mixins.sm-lt {
    margin-top: 30px;
  }
}


.productContainer {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 10px;


  grid-template-columns: repeat(1, 1fr);


  @include mixins.sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.md {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  @include mixins.lg {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  @include mixins.xl {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mixins.xxl {
    grid-template-columns: repeat(5, 1fr);
  }
}

.secTitle {
  margin: 26px;
  color: rgb(88, 88, 88);
  text-align: left;

  @include mixins.xs {
    text-align: center;
  }

  @include mixins.sm-lt {
    margin: 20px 0;
  }
}

.secTitle span {
  text-transform: capitalize;
}