@use "@/assets/styles/mixins" as mixins;

.stepsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin: 0 20px;
  @include mixins.xs {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 10px;
  }
}

.stepsContainer > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  @include mixins.xs {
    font-size: 11px;
  }
}

.stepsContainer > .active {
  border-top-color: #f08000;
  color: #f08000;
}
