@use "../../assets/styles/mixins" as mixins;

.userProfileContainer {
  max-width: 600px;
  margin: auto;
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mixins.xs {
    height: 100%;
  }
}
.userProfileFormContainer {
  height: auto;
  margin: auto;
}
.UserProfileMessage {
  height: 30px;
}
.userProfileform {
  min-width: 260px;
  margin: 10px;
  padding: 30px;
  border: solid 2px grey;
  border-radius: var(--border-radius);
  background-color: rgb(238, 238, 238);
  > h1 {
    text-align: center;
  }
  @include mixins.xs {
    padding: 10px;
    > h1 {
      font-size: 16px;
    }
  }
}
//

.formIpSec {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.formIpSec input {
  padding: 12px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: var(--border-radius);
  @include mixins.xs {
    padding: 8px;
    font-size: 12px;
  }
}
//

.updateBtn {
  background-color: var(--secondary);
  border-radius: var(--border-radius);
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 18px;
  outline: 0;
  font-weight: 600;
  @include mixins.xs {
    padding: 6px;
    font-size: 14px;
  }
}
