@use "@/assets/styles/mixins" as mixins;
.userProfileContainer {
  flex: 1 1 auto;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  @include mixins.xs {
    height: 100%;
  }
}

.userAccountCategories {
  flex-flow: row wrap;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  display: grid;
}

.userAccountCategory {
  display: flex;
  border-radius: 8px;
  background-color: #fff;
  border: 1px #d5d9d9 solid;
  padding: 5px;
  width: 270px;
  & img {
    width: 50px;
    height: 50px;
  }
  &:hover {
    background-color: #d5d9d9;
    cursor: pointer;
  }
}
.userAccountCategoryInner {
  border-radius: 8px;
  display: flex;
  position: relative;
  padding: 14px 18px;
}
.userAccountCategoryTtitle {
  font-size: 20px;
  margin-bottom: 10px;
}

@media screen and (min-width: 700px) {
  .userAccountCategories {
    grid-template-columns: repeat(2, 1fr);
  }
  .userAccountCategory {
    width: 340px;
  }
}
