.danger {
  color: #a02020;
}
.alert {
  padding: 5px;
  border: 0.1rem solid transparent;
  border-radius: 20px;
  background-color: #ffbebe;
  font-weight: 600;
  text-align: center;
}
.alertInfo {
  color: #fff;
  background-color: var(--primary);
}
.alertDanger {
  color: #a02020;
  background-color: #ffbebe;
}
.alertSuccess {
  color: #109710;
  background-color: #beff89 !important;
}
