@use "../../assets/styles/mixins" as mixins;

.row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 40px;
  margin: 30px 20px;
  @include mixins.md-lt {
    display: flex;
    flex-direction: column;
  }
}

.backRes {
  color: #000;
  margin: 20px;
  padding: 10px;
  border-radius: var(--border-radius);
  display: inline-flex;
  align-items: center;
  background-color: var(--secondary);
  border: 1px solid;
  & > span {
    margin-left: 10px;
  }
  @include mixins.xs {
    display: flex;
  }
}

.col1 {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  border-radius: var(--border-radius);
}

.col1 img {
  width: 80%;
}

.col2 ul,
.col3 ul {
  list-style-type: none;
}

.pdName {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
  @include mixins.xs {
    font-size: 20px;
  }
}

.pdPrice {
  margin-top: 16px;
  font-size: 24px;
}
.pdDesc {
  margin-top: 14px;
}

.pdDesc p {
  color: grey;
  margin-top: 10px;
  font-size: 16px;
}

.cardBody {
  background-color: rgb(238, 238, 238);
  padding: 16px;
  border: 1px solid grey;
  border-radius: 6px;
}

.cardBody li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.supplySuccess {
  color: rgba(0, 60, 255, 0.863);
  font-weight: 800;
  @include mixins.xs {
    font-weight: 600;
    font-size: 15px;
  }
  @include mixins.lg {
    font-size: 12px;
  }
}
.supplyError {
  color: rgb(255, 0, 0);
  font-weight: 800;
  @include mixins.xs {
    font-weight: 600;
    font-size: 15px;
  }
  @include mixins.lg {
    font-size: 12px;
  }
}

.qtySelect select {
  padding: 10px 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 80px;
}

.cardBody .addToCart {
  background-color: var(--secondary);
  border-radius: var(--border-radius);
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 18px;
  outline: 0;
}
